<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ff新闻</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="shortcut icon" href="images/logo1.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header_footer_v2016.css">
	<link rel="stylesheet" href="css/two_stage.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css"/>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="hd1">
    <!--栏目公共页头-->
    <header>
        <div class="articleHead" id="j_artcileMain">
            <div class="mainNav">
                <p><img src="images/logo1.png"/></p>
                <a href="index.html" class="gIcon levelOne"><span>|</span>Ff新闻</a>
            	<a class="gIcon navBtn" href="login.html">{{message}}</a>
            </div>
        </div>
    </header>
    <div class="top-menu">
        <div class="nav clearfix">
        	<a href="#" class="li">头条</a>
        	<a href="#" class="li">新闻</a>
        	<a href="#" class="li">财经</a>
        	<a href="#" class="li">体育</a>
        	<a href="pin.html" class="li ">娱乐</a>
        	<a href="war.html" class="li ">军事</a>
        	<a href="#" class="li">教育</a>
        	<a href="sat.html" class="li">科技</a>
        	<a href="#" class="li">NBA</a>
        	<a href="#" class="li">股票</a>
        	<a href="xz.html" class="li ">星座</a>
        	<a href="#" class="li">女性</a>
        	<a href="#" class="li">健康</a>
        	<a href="#" class="li">育儿</a>
        	<a href="#" class="li">更多</a>
        	<!--<a href="APP/wea.html" class="li "><span>天气</span></a>
            <a href="#" class="li "><span>社会</span></a>
            <a href="guandian.html" class="li "><span>观点</span></a>
            <a href="bo.html" class="li"><span>博客</span></a>-->
        </div>
    </div>
     <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="http://photo.sina.cn/album_1_2841_183986.htm?ch=1&vt=4&pos=108" target="_blank" title="水位回落 橘子洲展开清淤大行动"><img src="https://k.sinaimg.cn/n/news/20170710/fE-Y-fyhwret0529028.jpg/w710h400z1l50t1679.jpg" alt="水位回落 橘子洲展开清淤大行动" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">高楼被洪水冲垮 整栋倒入江中</i></span></a></div>
        	<div class="swiper-slide"><a href="http://photo.sina.cn/album_8_240_54544.htm?ch=8&vt=4&pos=108" target="_blank" title="吉林松原燃气管道爆炸 现场黑烟滚滚"><img src="https://k.sinaimg.cn/n/mil/transform/20170710/jqee-fyhwret0454389.jpg/w710h400z1l50t1325.jpg" alt="吉林松原燃气管道爆炸 现场黑烟滚滚" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">干的漂亮!巴铁打掉印军两哨所</i></span></a></div>
            <div class="swiper-slide"><a href="http://photo.sina.cn/album_1_86058_183879.htm?ch=1&vt=4&pos=108" target="_blank" title="水位回落 橘子洲展开清淤大行动"><img src="https://k.sinaimg.cn/n/news/20170710/M6zM-fyhwret0332531.jpg/w710h400z1l50t1112.jpg" alt="水位回落 橘子洲展开清淤大行动" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">江苏两女生被25吨槽罐车碾压</i></span></a></div>
        	<div class="swiper-slide"><a href="http://photo.sina.cn/album_24_86328_92462.htm?ch=24&vt=4&pos=108" target="_blank" title="吉林松原燃气管道爆炸 现场黑烟滚滚"><img src="https://k.sinaimg.cn/n/fashion/20170707/187m-fyhwres8008898.jpg/w710h400z1l50t1f53.jpg" alt="吉林松原燃气管道爆炸 现场黑烟滚滚" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">杨幂唐嫣最爱的指甲颜色</i></span></a></div>
            <div class="swiper-slide"><a href="https://photo.sina.cn/album_2_730_140856.htm?ch=2&cid=o&vt=4&pos=108" target="_blank" title="水位回落 橘子洲展开清淤大行动"><img src="https://k.sinaimg.cn/n/sports/transform/20170710/2FjC-fyhwret0334400.jpg/w710h400z1l50t1e86.jpg" alt="水位回落 橘子洲展开清淤大行动" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">斯诺克世界杯中国队逆转夺冠</i></span></a></div>
        	<div class="swiper-slide"><a href="http://photo.sina.cn/album_1_2841_183896.htm?ch=1&vt=4&pos=108" target="_blank" title="吉林松原燃气管道爆炸 现场黑烟滚滚"><img src="https://k.sinaimg.cn/n/news/20170710/ujiW-fyhwret0358309.jpg/w710h400z1l50t1a72.jpg" alt="吉林松原燃气管道爆炸 现场黑烟滚滚" class="f_slid_img nolazyload finpic" style="height: 151px;"><span class="f_slide_info"><i class="f_slide_t">泰女歌手被总理骂尺度大蹿红</i></span></a></div>
       <!--<mypoint v-for="item in infos"  :infon="item"></mypoint>-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination lbym"></div>
    </div>
    <div class="h_news">
		<div class="h_news_list">
		    <ul> 
			    <mynews v-for="item in infos" :info="item"></mynews>
		    </ul>
	    </div>
	</div>
<footer >
	<!--栏目公共页尾-->
	<div class="footer">
		<!--页尾搜索-->
		<form action="//interface.sina.cn/wap_api/sina_wap_article_search.d.json?vt=4&searchfrom=baidu" target="_blank" method="get">
			<dl class="footer_search" data-sudaclick="footer_search">				
				<dd class="footer_searchbox">
					<div class="footer_search_input">
						<input type="text" id="searchInput" placeholder="输入您想搜索的新闻" value="" class="f_search_t" name="search_keyword">
					</div>
					<span id="searchCross" class="cross" style="display: block"><b class="cross_b"></b></span>
					<span class="f_search_btn_icon icon_search_44"></span>
					<input type="submit" value="" class="f_search_btn">
				</dd>
			</dl>
		</form>
		<!--页尾信息-->
		<div class="footer_nav" data-sudaclick="footer_nav">
			<span class="j_scrollToTop backTop"><em class="icon_top_2"><i id="scroll_top" class="fa fa-arrow-circle-up"></i></em></span>
			<a href="index.html" class="footer_nav_a" title="手机新浪网">首页</a>
			<a href="#" class="footer_nav_a" title="导航">导航</a>
			<a href="#" class="footer_nav_a" title="反馈">反馈</a>
			<a href="login.html" class="linkico" id="footer_entry" rel="nofollow">登录</a>
		</div>
		<p class="footer_times">
			<a href="javascript:void(0)https://sina.cn/?vt=4" title="手机新浪网">Ff.cn(粤ICPXXXXXXXX)</a>
		</p>
	</div>
</footer>
</body>
<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationType: 'fraction',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
//      autoplay: 2500,
        loop:true,
        autoplayDisableOnInteraction: false
    });
	var vm = null;
	var vm1 = null;
	function getNews(){
		$.ajax({
			type:"get",
//			url:"http://cre.mix.sina.com.cn/api/v3/get",
			url:"http://api.jisuapi.com/news/get?channel=头条&start=0&num=10&appkey=20cf27d7354a458a",
			dataType:"jsonp",
			success:function (data){
				$.each(data.result.list, function(i,e) {
					console.log(e)
					if(e.pic)
					{
						var inf ={"photo":e.pic,"showPic":true,"data":e.mintro,"title":e.title,"h":e.url,"type":e.src};
						vm.infos.push(inf);
					}
				});
			}
		});
	}
	getNews();
		
	Vue.component("mynews",{
		props:["info"],
		template:'<li><a class="pic" :href="info.h"><img :src="info.photo" /></a><div class="text"><a href="##" class="a" >{{info.title}}</a><span><a href="#">{{info.type}}</a></span></div></li>'
	});
	vm = new Vue({
		el:".h_news_list",
		data:{
			infos:[]
		}
	});
	var vm0 =new Vue({
		el:".mainNav",
		data:{
			message:"[请登录]"
		}
	});
	$(".mainNav>p").click(function(){
		window.location.href = "index.html";
	})
	$(".mainNav>p>img").click(function(){
		window.location.href = "index.html";
	})
	$("i").click(function(){
		var scrolls = scroll().top;
//		window.location.href = "index.html";
		window.scrollTo(0,scrolls);
		console.log('aaa')
	})
</script>
</html>
